{% extends 'base.html' %}
{% load static %}
{% block title %}
Add/Remove Parents
{% endblock title %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block content %}
    <style>
        body {
            align-items: center;
        }
        table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            text-align: center;
        }
    </style>

    <body>
        <h2>Parent Schedule</h2>
        <table>
            <tr>
                <th>Week</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </tr>
            {% for obj in objs %}
                {% if obj.week_days == 'Monday' %}
                    <td>{{obj.week}}</td>
                {% endif %}

                <td>{{obj.type}}<br>
                    {{ obj.task }}<br>
                    {{ obj.duration }}
                </td>
                {% if obj.week_days == 'Saturday' %}
                    </tr><tr> 
                {% endif %}
            {% endfor %}
        </table>
    </body>
{% endblock content %}