{% extends 'base.html' %}
{% load static %}
{% block title %}
Edit Schedule
{% endblock title %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block content %}
<style>
    
</style>
<div class="container">
    <div class="box1">
        <h2>Edit Schedule</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-field">
                <label for="task">Task:</label>
                {{form.task}}
            </div>
            <div class="form-field">
                <label for="duration">Duration:</label>
                {{form.duration}}
            </div>
            
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</div>

{% endblock content %}